<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="team-boxed">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Our Teammates </h2>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, blanditiis corrupti possimus quas eligendi tenetur.</p>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="/assets/img/ppl1.jpg">
                  <h3 class="name">Ali Rıza</h3>
                  <p class="title">Team Leader</p>
                  <p class="description">Ali Rıza is a leader of deneme team. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quaerat laboriosam, ipsum voluptate quasi adipisci.</p>
                  <div class="social"><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="/assets/img/ppl2.jpg">
                  <h3 class="name">Emel Emily</h3>
                  <p class="title">UI/UX Designer</p>
                  <p class="description">Designer for deneme team. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, quos!. Lorem ipsum dolor sit amet.</p>
                  <div class="social"><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="/assets/img/ppl3.jpg">
                  <h3 class="name">Anıl Can</h3>
                  <p class="title">Web Developer</p>
                  <p class="description">Anıl Can is a web developer , vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                  <div class="social"><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div> 
      </div>
  </div>
  <div class="row bottom-part">
    <div class="d-lg-flex justify-content-between  mb-5 px-5">
        <div class="p-2 align-self-center flex-fill ">
            <div class="fa fa-facebook px-2"></div>
            <div class="fa fa-linkedin px-2"></div>
            <div class="fa fa-twitter px-2"></div>
            <div class="fa fa-instagram px-2"></div>
        </div>
        <div class="p-2 row flex-fill  justify-content-left">
            <div class="p-2  d-flex ">
                <div class="p-2 ">Services</div>
                <div class="p-2 ">Portfolio</div>
                <div class="p-2 ">Pricing</div>
                <div class="p-2 ">Team</div>
                <div class="p-2 ">Blog</div>
                <div class="p-2 ">How we work</div>
            </div>
        </div>
        <div class="p-2 align-self-center flex-fill bd-highlight">
            <div class="fa fa-mobile px-2 text-info">&nbsp;&nbsp;<span id="contact">208-947-432</span></div>
            <div class="fa fa-envelope-o px-2 text-info">&nbsp;&nbsp;info@angulardeneme.com</div>
        </div>
    </div>
</div>
</div>



